<div> 
    <div class="container h-100 m-auto align-items-center d-flex flex-column centerpiece">
        <div class="container my-5 d-flex flex-column">
            <div class="h2 mx-auto mb-5">Login</div>
            <form  class="row mb-4 w-50 mx-auto">
                <div *ngIf="errorsExists">
                    <div  class="form-group col-lg-12 ps-2">
                        <div *ngFor="let error of errorString" class="text-danger">{{ error }}</div>
                    </div>
                </div>
                <div class="col-lg-12 ps-2 form-group">
                    <input class="form-control" type="text" placeholder ="E-mail" id="email" name="email" [(ngModel)]="email" required>
                </div>
                <div class="col-lg-12 ps-2 form-group">
                    <input class="form-control" type="password" placeholder ="Password" id="password" name="password" [(ngModel)]="password" required>
                </div>
                <div class="col-lg-12 ps-2 my-3 form-group">
                    <button class="btn btn-primary w-50" type="button" (click)="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>